<div>
    <h1>TEST ECOMMERCE</h1>
    <div>
      <form>
        <input style="max-width: 50px;" placeholder="jumlah" type="text" name="jumlah" id="" [(ngModel)]="dataProperties.quantityProduct">
        <input placeholder="harga" type="text" name="harga" id="" ngModel [(ngModel)]="dataProperties.priceProduct">
      </form>
      <button (click)="input()">input</button>
      <button (click)="purchase()">bayar</button>
    </div>
    <h1>TEST EVENTS</h1>
    <div>
      <button (click)="event()">event</button>
      <button (click)="action('click')">action click</button>
      <button (click)="action('detail')">action detail</button>
      <button (click)="action('checkout')">action checkout</button>
    </div>
  </div>