<div>
  <h1 hidden>H1 HIDDEN</h1>
  <h2 hidden>H2 HIDDEN</h2>
  <h2>TEST ECOMMERCE</h2>
  <div>
    <a href="https://www.google.com/">g</a>
    <a href="https://www.tokopedia.com/">t</a>
    <form>
      <input style="max-width: 50px;" placeholder="jumlah" type="text" name="jumlah" id=""
        [(ngModel)]="dataProperties.quantityProduct">
      <input placeholder="harga" type="text" name="harga" id="" ngModel [(ngModel)]="dataProperties.priceProduct">
    </form>
    <button (click)="input()">input</button>
    <button (click)="purchase()">bayar</button>
  </div>
  <h2>TEST EVENTS</h2>
  <div>
    <button (click)="event()">event</button>
    <button (click)="action('click')">action click</button>
    <button (click)="action('detail')">action detail</button>
    <button (click)="action('checkout')">action checkout</button>
  </div>
</div>